# Gradle build output
build/
buildSrc/build/
out/
bin/
.gradle/

# IDE-specific files
.idea/
.project
.classpath
.settings/

# Gradle-specific files
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Temporary files
*.log
*.tmp
tmp/
